---
---
<div class="text-xs pz-muted2 space-y-2">
  <div>本サイトは以下の方々に応援いただいています。</div>
  <ul class="list-disc list-inside">
    <li><a href="https://corp.genzai.me" target="_blank" rel="noreferrer" class="pz-link">GenZaiMe Corp</a></li>
    <li><a href="https://studio.genzai.me" target="_blank" rel="noreferrer" class="pz-link">GenZaiMe Studio</a></li>
  </ul>
  <div>スポンサーは随時募集しています。</div>
</div>
